//Global Variables & Mixins
$blue: #3381e3; //buttons and headings
$sub-text: #c4c5c7; //light-grey
$main-text: #333; //dark-grey
$border: 1px #dbdbdb solid;

@mixin button-blue($height, $width) {
	background-color: $blue;
	font-weight: 200;
	color: #fff;
	height: $height;
	width: $width;
	display: block;
	text-align: center;
	padding: .8em 0 0 0;
	font-size: 1.4em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	&:hover { background-color: #3f8cec; }
}

// CSS

body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

.content {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 37%;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

//Menu Styling

.menu	{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  max-width: 500px;

  p { color: #fff;}

  .menu-img {
	position: absolute;
	background-image: image-url('cover.png');
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
	box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
  }

  #logo {
  	background-image: image-url('logo.png');
  	height: 279px;
  	width: 279px;
  	margin: 80px auto 0 auto;
  }

  #description p {
  	text-align: center;
  	width: 75%;
  	margin: 60px auto 0 auto;
  	line-height: 1.635em;
	font-size: 1.3em;
	-webkit-font-smoothing: antialiased;
  }

  #built-by p{
  	line-height: 1.635em;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	margin: 0 15px 10px 0;
	font-style: italic;
	a {
	  color: #e07628;
	  text-decoration: none;
	  &:hover { text-decoration: underline; }
	}
  }

  .button-blue a{
	 @include button-blue(35px, 60%);
	 margin: 30px auto 0 auto;
  }
}

//Post Styling

.post {

  .pub-image {
  	width: 10em;
  	height: 10em;
  	float: left;
  	overflow: hidden;
  	margin-top: 3em;
  	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius: 5em;
  }

  .text-container {
    width: 40em;
    height: auto;
    float: left;
    margin: 0 0 0 4em;
    padding: 2em 0 3em 0;
    border-top: $border;
    border-bottom: $border;

    .title {
      margin-bottom: 5px;
      a {
  	   font-family: acta-display, Georgia, Times, serif;
	   font-size: 2em;
	   color: $blue;
	   font-weight: normal;
	   margin-top: 1em;
	   text-decoration: none;
	   line-height: 1.2em;
	   &:hover {
	     color: #3f8cec;
	     background-color: none; 
	    }
	  }
  	}

  	.summary {
	  line-height: 1.635em;
	  margin: 2em 0 1em 0;
	  font-size: 1.3em;
	  color: $main-text;
	  -webkit-font-smoothing: antialiased;
  	}

  	.author {
	  font-size: 1.1em;
	  color: $sub-text;
	  font-weight: normal;
	  text-transform: uppercase;
	  margin-top: .6em;
  	}

	.button-blue a{
	  @include button-blue(35px, 200px);
	  margin: 35px 0 0 0;
	}

  }
}

.recent-post {
	border-top: $border;
	margin-left: 14em;
	text-transform: uppercase;
	color: $sub-text;
	margin-top: 5em;
	padding: .2em 0;
	width: 40em;
	letter-spacing: 1px;
}

